.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  &_fz18 {
    font-size: 18px;
    line-height: 25px;
    color: $main-color;
    letter-spacing: 5px;
  }
  &_fz70 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 500;
  }
  &_fz64 {
    font-size: 64px;
    line-height: 70px;
  }
  &_fz48 {
    font-size: 48px;
    line-height: 65px;
  }
  &_fz36 {
    font-size: 36px;
    line-height: 49px;
  }
  &_fz15 {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
  }
}